/*Підключаєм шрифти*/
@font-face {
	font-family: Andika-R;
	src: url(../font/Andika-R.ttf);
 }
/*</Підключаєм шрифти*/

/*Основні стилі*/
body {
	font-family: 'Andika-R';
	background-image: url(../img/bg.png);
	max-width: 1100px;
	margin: 0 auto;
	text-align: center;
 }
div.spacing {
   	margin: 150px;
	font-size: 10em;
    padding: 50px 130px 150px 100px;
}

.list {
	 box-shadow:  0 0 10px rgba(0,0,0,1);
	 background-color: #f2f2f2;
}

.left{
	text-align: left;
	list-style-type: none;
}

.post-list{
	max-width: 900px;
	margin: 0 auto;
	background-color: #f2f2f2;
}

path {
	color: #0084b5;
	text-align: left;
}

term {
	color: #4CAF50;
	text-align: left;
}

.float-left {
	float: left; padding: 0px 13px 15px 10px;
}
.float-right {
	float: right; padding: 0px 13px 15px 10px;
}

.warning {
	color: red;
	font-size: 2em;
}

p {
	margin: 15px;
	font-size: 1em;
	text-align: justify;
	line-height: 1.4em;
	color: #333;
 }

p.warning {
	color: red;
	font-size: .9em;
 }

p.tag {
	color: #c7254e;
	font-size: .9em;
	background-color: yellow;
 }

code p{
	margin: 0;
	font-size: 1em;
	font-size: 90%;
	color: #fff;
	background-color: green;
}

pre {
	text-align: left;
	margin: 10px 20px;
}

code {
  font-family: monospace, monospace;
  color: #c7254e;
  border-radius: 4px;
	font-size: 0.9em;
	line-height: 1.1em;
	overflow: auto;
	background-color: #f9f2f4;
	max-height: 200px;
}

xmp {
    font-family: monospace, monospace;
    margin: 0 20px;
	text-align: left;
	font-size: .8em;
	overflow: auto;
    border-radius: 4px;
    max-height: 400px;
	padding: 10px;
}

xmp.bsh {
	background-color: #000000;
    color: #f2f2f2;
}

xmp.lst {
	background-color: #334d4d;
    color: #f0f5f5;
}

h1,h2,h3,h4 {
	margin-left: 7px;
	font-weight: bold;
	padding: 0 10px;
	font-weight: 300;
	text-align: center;
 }

h2 {
	font-size: 4em;
	line-height: 1em;
	color: #333;
 }

h3 {
	font-size: 2.5em;
	color: #666;
	margin-top: -40px;
 }

h4 {
	font-size: 1.5em;
	color: #004d4d;
	text-align: left;
	margin-bottom: -10px;
 }

hr {
	margin: 15px auto;
	width: 80%;
	height: 2px;
	text-align: center;
	border: 0;
	background: linear-gradient(to right, rgba(198,0,3,0) 0%,rgba(128, 128, 128, 0.7) 50%,rgba(198,0,3,0) 100%);
 }

a {
	color: #0066cc;
	text-decoration: none;
	font-weight: bold;
 }

a:hover {
	text-shadow: 0 0 0.5em #004080;
 }

a:visited {
	color: #961c34;
 }

a.button:visited {
	color: #ffffff;
 }

ol {
	text-align: left;
}
/*</Основні стилі*/

/*Навігація вверху*/
div.nav {
	font-weight: bold;
}

ul.topnav {
	list-style-type: none;
	margin: 10px auto;
	padding: 0;
	overflow: hidden;
	background-color: rgb(255, 0, 70);
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover {
    background-color: #555;
    color: #fff;
}

ul.topnav li a.active {
	background-color: #555;
	color: white;
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
    img.float-left {float: none;}
	img.float-right {float: none;}
	img.head {display:none;}
}
/*</Навігація вверху*/

/*Дата посту для Jekyll*/
div.post-date {
	text-align: left;
	background-color: #ddd;
	margin: 10px 10px -30px 10px;
}
div.cat-list {
	text-align: left;
	margin: 30px 10px 0px 10px;
}
/*</Дата посту для Jekyll*/

/*Картинки основної та блогу*/
div.about-site img {
    border-radius: 50%;
}
img.head {
	max-width: 50em;
	max-height: 10em;
}
img.blog {
	max-width: 50em;
	max-height: 20em;
}
/*</Картинки основної та блогу*/

/*Кнопка "Категорія"*/
div.tag {
    width: 150px; /* Ширина слоя */
    margin: 2px; /* Значение отступов */
    padding: 5px; /* Поля вокруг текста */
    background: #fc0; /* Цвет фона */
   }
/*</Кнопка "Категорія"*/
