@font-face {
	font-family: Andika-R;
	src: url(../font/Andika-R.ttf);
 }

body {
	font-family: 'Andika-R';
	background-image: url(../img/bg.png);
	max-width: 1100px;
	margin: 0 auto;
	text-align: center;
 }
div.disqus {
    padding: 0px 50px;
}

div.footnotes {
	font-size: .9em;
}

.list {
	 box-shadow:  0 0 10px rgba(0,0,0,1);
	 background-color: #f2f2f2;
}

.left {
	text-align: left;
	list-style-type: none;
}

.post-list {
	max-width: 900px;
	margin: 0 auto;
	background-color: #f2f2f2;
}

.float-left {
	float: left; padding: 0px 13px 15px 10px;
}
.float-right {
	float: right; padding: 0px 13px 15px 10px;
}

p {
	margin: 15px;
	font-size: 1em;
	text-align: justify;
	line-height: 1.4em;
	color: #333;
 }

h1,h2,h3,h4 {
	margin-left: 7px;
	font-weight: bold;
	padding: 0 10px;
	font-weight: 300;
	text-align: center;
 }

h2 {
	font-size: 4em;
	line-height: 1em;
	color: #333;
 }

h3 {
	font-size: 2.5em;
	color: #666;
	margin-top: -40px;
 }

h4 {
	font-size: 1.5em;
	color: #7e8080;
	text-align: left;
	margin-bottom: -10px;
 }

hr {
	margin: 15px auto;
	width: 80%;
	height: 2px;
	text-align: center;
	border: 0;
	background: linear-gradient(to right, rgba(198,0,3,0) 0%,rgba(128, 128, 128, 0.7) 50%,rgba(198,0,3,0) 100%);
 }

a {
	color: #0066cc;
	text-decoration: none;
	font-weight: bold;
 }

a:hover {
	text-shadow: 0 0 0.5em #004080;
 }

a:visited {
	color: #961c34;
 }

a.button:visited {
	color: #ffffff;
 }

ol {
	text-align: left;
}

div.nav {
	font-weight: bold;
}

ul.topnav {
	list-style-type: none;
	margin: 10px auto;
	padding: 0;
	overflow: hidden;
	background-color: rgb(255, 0, 70);
}

ul.topnav li {
	float: left;
	padding: 0;
}

ul.topnav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover {
    background-color: #555;
    color: #fff;
}

ul.topnav li a.active {
	background-color: #555;
	color: white;
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
    img.float-left {float: none;}
    img.float-right {float: none;}
    img.head {display:none;}
}

div.post-date {
	text-align: left;
	background-color: #ddd;
	margin: 10px 10px -30px 10px;
}

div.cat-list {
	text-align: left;
	margin: 30px 10px 0px 10px;
}

div.about-site img {
    border-radius: 50%;
}

div.tag {
    width: 150px;
    margin: 2px;
    padding: 5px;
    background: #fc0;
   }

img[src$="head"] {
  display:block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 10em;
}

img[src$="blog"] {
  display:block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 20em;
  object-fit: fill;
}

img[src$="404"] {
  display:block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 20em;
  object-fit: fill;
	border-radius: 50%;
}

ul li {
    text-align: left;
		padding: 0px 10px;
}

figure {
    text-align: left;
    padding: 5px;
    overflow-x: auto;
}

pre.highlight {
    text-align: left;
    padding: 5px;
}

em {
	color: #17c380;
}

strong em {
    color: #f17c3b;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 50px;
  padding: 0.5em 0px;
}

ul.task-list{
	list-style-type: none;
}

#warning {
	color: #ff0000;
}

.fa {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.fa-gmail {
  background: #FF0046;
  color: white;
}

.fa-rss {
  background: #555;
  color: white;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
    font-style: oblique;
  }

.pagination a {
        background-color: rgb(204, 77, 5);
        color: #ffffff;
 }

.pagination a:hover {
       background-color: #ffffff;
       color: rgb(204, 77, 5);
}

.pagination {
    text-align: center;
 }

 #results-container li {
 	list-style-type: circle;
 }

 #results-container li:hover {
 	list-style-type: disc;
 	padding: 0 20px;
 }
